// Colors:
$white-smoke-color: whitesmoke;
$gray-smoke-color: #485460;
$border-color: solid black;
$buttons-color: #808080c7;

// Background Colors:
$primary-background: linear-gradient(to right, #5a075d, #061f6f);
$secondary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(134, 34, 54, 1) 100%);

//Fonts:
// font-family: 'Handlee', cursive; -->
$cursive-handle-font-family: 'Handlee', cursive;
// font-family: 'Lato', sans-serif; -->
$lato-font-family: 'Lato', sans-serif;
// font-family: 'Permanent Marker', cursive; -->
$cursive-marker-font-family: 'Permanent Marker', cursive;
// font-family: 'Roboto', sans-serif; -->
$roboto-font-family: 'Roboto', sans-serif;
