/* This is an example of using Sass, otherwise plain CSS works too*/
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";
$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
;

body {
  background: $primary-background;
  margin: 0;
}

main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(15, 1fr);
  grid-gap: 1%;
}



//// Header Section ////////////////////////
header {
  border: solid black 2px;
  grid-column-start: 1;
  grid-column-end: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.agency-logo {
  border: solid black 2px;
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.logo-img {
  grid-column-start: 1;
  grid-column-end: 2;
}

h1 {
  grid-column-start: 2;
  grid-column-end: 4;
  padding-top: 7%;
  // padding-left: -5%;
}

.log-out-section {
  border: solid black 2px;
  grid-column-start: 3;
  grid-column-end: 4;
  display: inline-flex;
  flex-direction: column;
  align-items: center;

}

.log-out-btn {
  margin: 1%;
  padding: 3%;
  width: 50%;
}

.agency-slogan {
  padding-bottom: 0%;
}



/////////////ASIDE SECTION /////////////////////////

aside {
  border: solid black 2px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: span 5;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1%;
}

h2 {
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 2;
}

h3 {
  text-align: center;
}

.total-spent-info {
  text-align: center;
  grid-row-start: 2;
  grid-row-end: 3;
}

.trips-views-btns {
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.past-trips-btn {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 150%;
  height: 70%;
}

.upcoming-trips-btn {
  grid-column-start: 4;
  grid-column-end: 5;
  width: 130%;
  height: 70%;
}

.pending-trips-btn {
  grid-column-start: 6;
  grid-column-end: 7;
  width: 150%;
  height: 70%;
}

/////////////FORM SECTION /////////////////////////
.trip-form-section {
  border: solid black 2px;
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 5;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1%;
}

.from-instructions {
  grid-row-start: 1;
  grid-row-end: 2;
}

.form-fill {
  grid-row-start: 2;
  grid-row-end: 3;
}

.form-planning-inputs {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 3%;
}

.date-form-section {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 3;
}

.destination-form-section {
  display: flex;
  flex-direction: column;
  grid-column-start: 3;
  grid-column-end: 4;
}

.days-form-section {
  display: flex;
  flex-direction: column;
  grid-column-start: 4;
  grid-column-end: 5;
}

.persons-form-section {
  display: flex;
  flex-direction: column;
  grid-column-start: 5;
  grid-column-end: 6;
}

.planning-bottom {
  grid-column-start: 6;
  grid-column-end: 8;
}

.planning-text {
  text-align: center;
}

.planning-cost {
  text-align: center;
}



/////////////TRIPS CARDS SECTION /////////////////////////
.trips-view-info-section{
  border: solid black 2px;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 7;
  grid-row-end: span 9;
}

.trips-view-info-section {
  // margin: 0;
  // padding: 0;
  // box-sizing: border-box;
  // This code affects glide styling
  display: flex;
  flex-direction: column;
  align-items: center;
}
// Posibilty to refactor this design styles code !!
.past-trips-view {
  // border: solid black 2px;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50% , -50%);
}

.upcoming-trips-view {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50% , -50%);
}

.pending-trips-view {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50% , -50%);
}

.trips-cards {
  border: solid black 2px;
  text-align: center;
}

.no-trips-msg {

}

.hidden {
  display: none;
}
