@import 'variables';
@import 'login-section';
@import 'header-section';
@import 'aside-section';
@import 'form-section';
@import 'trip-cards-section';
@import 'media-queries';

body {
  background: $primary-background;
  margin: 0;
  font-family: $lato-font-family;
}

main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(15, 1fr);
  grid-gap: 1%;
  color: $white-smoke-color;
}

.hidden {
  display: none;
}
